<div class="row" ng-init="getData()">
    <div class="col-md-5 jumbotron">
        <form class="form-group">
            <label for="firstname">Förnamn</label>
            <input type="text" id="firstname" class="form-control" ng-model="firstname">
            <label for="lastname">Efternamn</label>
            <input type="text" id="lastname" class="form-control" ng-model="lastname">
            <label for="email">Epost</label>
            <input type="text" id="email" class="form-control" ng-model="email">
            <label for="phone">Telefon</label>
            <input type="number" id="phone" class="form-control" ng-model="phone">
            <label for="address">Adress</label>
            <input type="text" id="address" class="form-control" ng-model="address">
            <label for="postalcode">Postkod</label>
            <input type="number" id="postalcode" class="form-control" ng-model="postalcode">
            <label for="city">Stad</label>
            <input type="text" id="city" class="form-control" ng-model="city">
            <label for="password">Fyll i lösenord för att bekräfta</label>
            <input type="password" id="password" class="form-control" placeholder="Lösenord" ng-model="password">

            <button class="btn btn-danger" ng-click="updateUser()">Uppdatera</button>
        </form>
    </div>
    <div class="col-md-7">
        <table class="table">
            <thead>
                <th>Ordernummer</th>
                <th>Datum</th>
            </thead>
            <tbody class="table-hover" ng-repeat="order in userOrders" >
                <td>{{order.id}}</td>
                <td>{{order.dateTime}}</td>
                <td><button class="btn" ng-click="showDetailInfo(order.id)">Detaljerad info</button></td>
            </tbody>
        </table>

    </div>
</div>
